MODEL_PATH=models/model_v1.joblib
MODEL_VERSION=v1
MODEL_V1_PATH=models/model_v1.joblib
MODEL_V1_VERSION=v1
MODEL_V1_PORT=8001
MODEL_V2_PATH=models/model_v2.joblib
MODEL_V2_VERSION=v2
MODEL_V2_PORT=8002